<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844996980402-9cto0f77t61qoa0gdsnir7nde7910j4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844996980402-9cto0f77t61qoa0gdsnir7nde7910j4d</string>
	<key>API_KEY</key>
	<string>AIzaSyAgMYJQ1A9MIGI0Fk27MbgrbQJgnoCn5CU</string>
	<key>GCM_SENDER_ID</key>
	<string>844996980402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kyungsnim.makeTenBillion</string>
	<key>PROJECT_ID</key>
	<string>make-ten-billion</string>
	<key>STORAGE_BUCKET</key>
	<string>make-ten-billion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844996980402:ios:018ebbb238d84f442de3ab</string>
</dict>
</plist>